<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <div class="reg-nav1">
            <label for="title"><img class="reg-img1" src="static/logo.jpg" alt="logo"></label>
            <h1 class="title">HomeLander</h1>
            <p><a class="reg-back-btn" href="/home">Home</a></p>
            <p><a class="reg-back-btn" href="/logout">Logout</a></p>
        </div>
        <h2 class="home-nav3">Change Password</h2>
        <div class="reg-form">
            
            <form  class="form" action="/change_password" method="post">
                {% with messages = get_flashed_messages(category_filter=['register_message']) %}
                {% if messages %}
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <p>
                    <input type="password" name="password" placeholder="New Password">
                </p>
                <p>
                    <input type="password" name="confirm" placeholder="Confirm New Password">
                </p>
                <input type="submit" value="Submit" class="reg-btn">
            </form>
    </div>
</body>
</html>