* {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.window {
    border-radius: 20px;
    background-color: peachpuff;
    border: 2px solid black;
    margin-top: 200px;
    width: 600px;
    height: 300px;
    margin-left: 1000px;
}
.title {
    text-align: center;
    margin-top: 75px;
}

.num {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.visit {
    background-color: blue;
    color: white;
    width: 200px;
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid black;
}

.reset {
    background-color: red;
    color: white;
    width: 200px;
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid black;
}