<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos and Ninjas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dojo.css') }}">
</head>

<body>
    <form action="/create_ninja" method="post" class="form">
        <h1>New Ninja</h1>
        <p>
            <label for="dojo">Dojo:</label>
            <select name="dojo_id">
                {% for d in dojos %}
                <option value="{{d.id}}">{{d.name}}</option>
                {% endfor %}
            </select>
        </p>

        <p>
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name">
        </p>

        <p>
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name">
        </p>

        <p>
            <label for="age">Age:</label>
            <input type="number" name="age" class="ageinput">
        </p>

        <input type="submit" value="Add Ninja" class="submit">
    </form>
    <p><a href="/" class="home">Home</a></p>
</body>

</html>